logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.git
.gitignore
.dockerignore
node_modules
coverage/
.vscode/*
!.vscode/extensions.json
config
build
dist
dist-ssr
README.md
*.local
.env
Makefile
# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
