<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/main.css"> <!-- Link to your CSS file -->
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
      <section class="container">
    {{ message }}
      </section>
  </body>
</html>

